@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300;400;500&display=swap');

$header: 'Merriweather Sans', sans-serif;
$paragraf: 'Poppins', sans-serif;
$white: #fff;
$lightGray: #e1e2df;
$gray: #696c6d;
$red: #e64448;
$yellow: #eab244;
$lightBlue: #89c5c7;
$blue: #0b354b;
$darkblue: #1f022e;


body {
    width: 400px;
    margin: auto;
    background-color: $red;
}
    header {
        background-color: $white;
        padding-left: 5px;
        .logo {
            width: 80%;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }
    .local {
        display: block;
        background-color: $red;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        h1 {
            color: $darkblue;
            font-family: $header;
        }
        p {
            color: $yellow;
            font-family: $paragraf;
        }
    }
    .bikes {
        background-color: $lightGray;
        text-align: center;
    }
    .signup {
        display: block;
        background-color: $lightBlue;
        color: $blue;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        h1 {
            color: $gray;
            font-family: $header;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-family: $paragraf;
        }
        input {
            display: block;
            margin-bottom: 20px;
        }
    }
    .about {
        display: block;
        background-color: $yellow;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        h1 {
            color: $red;
            font-family: $header;
        }
        p {
            color: $lightGray;
            font-family: $paragraf;
        }
    }